* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* BARRA FISSA */
.bg-fissa {
    background-color: #f4f8fb;
    border-bottom: 1px solid #d0d5db;
    position: fixed;
    height: 72px;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 999;
}

.bg-fissa .container {
    line-height: 72px;
}

.bg-fissa ul {
    float: left;
}

.bg-fissa li {
    display: inline-block;
    padding: 0 15px;
}

.lingua a {
    text-decoration: none;
    color: #4d5763;
    font-size: 14px;
    font-weight: 600;
}

.bg-fissa img {
    width: 16px;
    transform: translateY(5px);
}

.icona {
    float: left;
}

.bg-fissa .bottoni {
    float: right;
}

.bg-fissa button {
    border: 1px solid #c98f84;
    font-size: 12px;
    border-radius: 3px;
    padding: 8px 15px;
    font-weight: 600;
}

#login {
    background-color: white;
    color: #c98f84;
    padding: 9px 15px;
    margin-right: 10px;
    margin-left: 20px;
}

.hubspot {
    background-color: #ff7a59;
    color: white;
    border: 1px solid #c98f84;
}

.bg-fissa i {
    color: #2396a9;
}

/* NAVBAR */

.bg-navbar {
    background-color: white;
    margin-top: 72px;
}

.bg-navbar .container {
    line-height: 82px;
}

.bg-navbar .logo{
    float: left;
    transform: translateY(4px);
}

.bg-navbar li {
    display: inline-block;
    padding-left: 40px;
}

.bg-navbar .menu {
    float: right;
}

.bg-navbar a {
    text-decoration: none;
    color: #2e495a;
    font-weight: 600;
    font-size: 16px;
}

/* BARRA CTA BLUE */

.bg-barrablue {
    background-color: #425c77;
}

.bg-barrablue .container {
    height: 92px;
    position: relative;
}

.bg-barrablue span {
    font-weight: bold;
}

.bg-barrablue .paragrafo-cta {
    width: 85%;
    float: left;
    font-size: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 0 15px;
    line-height: 25px;
}

.bottone-cta button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
    color: #425c77;
    padding: 13px 24px;
    border-radius: 3px;
    font-weight: 600;
    border: 1px solid #425c77;
}


/* JUMBOTRON */

.banner {
    height: 600px;
    background-color: #fff1ee;
}

.banner .jumbo {
    width: 41%;
    float: left;
}

.nuvolette {
    height: 100%;
    width: 59%;
    float: left;
    object-fit: cover;
    padding-top: 40px;
}

.nuvolette img {
    width: 670px;
    transform: translateX(80px);
}

.jumbo h1 {
    padding: 85px 0 25px;
    color: #32475a;
    font-size: 50px;
    font-weight: 800;
}

.jumbo p {
    line-height: 25px;
    color: #665d70;
}

.jumbo button {
    font-size: 15px;
    font-weight: bold;
    padding: 27px 48px;
    border-radius: 3px;
    margin: 20px 0;
}

.jumbo .sottoparagrafo {
    font-size: 12px;
    width: 50%;
    line-height: 21px;
}

/* VERDEACQUA */

.bg-verdeacqua {
    background-color: #0ec1ab;
    height: 90px;
    border-bottom: 3px solid #354656;
    border-top: 3px solid #354656;
}

/* PRIMO BLOCCO BIANCO*/

.bg-primobianco {
    background-color: #f4f8fb;
    padding-bottom: 150px;
}

.bg-primobianco .primafascia {
    text-align: center;
    margin-bottom: 40px;
}

.bg-primobianco .cubi {
    width: 260px;
    padding-top: 112px;
    padding-bottom: 10px;
}

.bg-primobianco h3 {
    font-weight: 800;
    font-size: 30px;
    color: #32475a;
    padding-bottom: 20px;
}

.bg-primobianco .primafascia p {
    line-height: 25px;
    color: #72757a;
    padding: 0 150px;
}

.bg-primobianco .secondafascia {
    background-color: white;
    margin-top: 50px;
    border: 3px solid #f2f3f7;
    border-radius: 5px;
    margin: 0 50px;
}

.bg-primobianco .secondafascia img {
    width: 160px;
    padding-bottom: 40px;
}

.secondafascia .areaimmagine {
    text-align: center;
    width: 35%;
    position: relative;
    padding-bottom: 65px;
    padding-top: 50px;
    float: left;
}

.secondafascia .areaimmagine button {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff7a59;
    border: 1px solid #dc8773;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    padding: 10px 23px;
}


.secondafascia .areascritte li {
    display: inline-block;
    color: #364656;
    font-size: 14px;
    padding-left: 18px;
}

.secondafascia .areascritte li:first-child {
    padding-left: 0;
}

.secondafascia .areascritte i {
    color: #ff7a59;
    font-size: 16px;
    margin-right: 4px;
}

.secondafascia .areascritte h4 {
    color: #364656;
    padding: 40px 0 15px;
    font-size: 22px;
}

.secondafascia .areascritte p {
    line-height: 23px;
    font-size: 14px;
    color: #364656;
    padding: 0 50px 25px 0;
}

.popolari {
    position: relative;
    margin-bottom: 20px;
}

.secondafascia .areascritte h5 {
    color: #364656;
    font-size: 13px;
}

.areascritte hr {
    position: absolute;
    top: 50%;
    right: 40px;
    width: 450px;
    display: inline-block;
    border: 1px solid #e2e6e9;
}

.bg-primobianco .terzafascia {
    margin: 30px 50px 0;
}

.terzafascia .carta {
    width: 33.3333%;
    float: left;
}

.carta .content {
    background-color: white;
    border: 3px solid #f2f3f7;
    border-radius: 3px;
    text-align: center;
}

.terzafascia .prima {
    padding-right: 20px;
}

.terzafascia .seconda {
    padding: 0 10px;
}

.terzafascia .terza {
    padding-left: 20px;
}

.terzafascia .carta img {
    width: 162.3px;
    height: 150px;
    margin: 27px 0;
}

.terzafascia .carta h5 {
    font-size: 22px;
    color: #364656;
}

.paragrafocarta {
    text-align: left;
}

.paragrafocarta p {
    font-size: 14px;
    padding: 15px 35px;
    color: #364656;
}

.terzafascia hr {
    border: 1px solid #e4e5e9;
    margin: 0 auto;
    width: 250px;
}

.terzafascia h6 {
    font-size: 14px;
    color: #364656;
    padding: 15px 0;
}

.terzafascia li {
    list-style: none;
    font-size: 14px;
    color: #364656;
}

.terzafascia ul {
    text-align: left;
    padding-left: 35px;
    line-height: 25px;
}

.terzafascia i {
    color: #ff7a59;
    font-size: 16px;
    margin-right: 6px;
}

.terzafascia button {
    background-color: #ff7a59;
    border: 1px solid #dc8773;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    padding: 10px 23px;
    margin: 20px 0;
}

/* BLOCCO AZZURRO */

.bg-azzurro {
    background-color: #00acb6;
}

.bg-azzurro .container {
    height: 800px;
}

.titoloazzurro {
    text-align: center;
    color: white;
    padding: 125px 210px;
}

.titoloazzurro h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

.titoloazzurro p {
    font-size: 15px;
    line-height: 25px;
}

/* SECONDO BLOCCO BIANCO*/

.bg-secondobianco {
    background-color: white;
}

.bg-secondobianco .container {
    height: 800px;
}

/* BLOCCO BLUE */

.bg-blu {
    background-color: #32475a;
    height: 700px;
}
